<!DOCTYPE html>
<html>
   <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
      
      <%= favicon_link_tag 'favicon.ico' %>
      <title class='title'>md.d</title>
      <%= stylesheet_link_tag    'application', media: 'all', 
                                 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <%= javascript_include_tag 'docview.main', 
                                 'data-turbolinks-track' => true %>

      <% if @all[:host] == 'jr' %>
         <%= render partial: 'og_jr' %>
      <% elsif @all[:host] == 'md' %>
         <%= render partial: 'og_md' %>
      <% end %>
      
</head>
   <body class="jr-dark-body">
      
      <% if @all[:host] == 'jr' %>
         <%= render partial: 'gtm_jr' %>
      <% elsif @all[:host] == 'md' %>
         <%= render partial: 'gtm_md' %>
      <% end %>
      
      <nav id='topbar' class='topbar-toc fixed'></nav>
      
      <!--site logo button-->
      <a href='#' class="topbtn-greenwell LL-7-toc fixed home-url">
         <img class='logo-url' src="#" alt="home"/>
      </a>
       <!--modal 1 - select a page (group of pages - controller )-->
      <button data-toggle='modal' id='page-button' style="margin:1px"
           class='topbtn-greenwell LR-7-toc fixed' data-target='#modal-page-menu'>
         page
      </button>
      <!-- prevous section button-->
      <a href='#' class='prev-btn topbtn-greenwell CL-7-toc fixed prev-btn-img'>
      </a>
      <!--modal 2 - select a topic (jump to id on page)-->
      <button data-toggle='modal' id='section-button' style="margin:1px"
           class="topbtn-greenwell CC-7-toc fixed" data-target='#modal-section-menu'>
         section
      </button>
      <!-- next section button-->
      <a href='#' class='next-btn next-btn-img topbtn-greenwell CR-7-toc fixed'>
      </a>
      <!--show toc button-->
      <button id='toc-btn' 
         class='toc-btn-img topbtn-greenwell RL-7-toc fixed'>
      </button>
      <!--follow in toc button-->
      <button id='toc-follow-btn' 
         class="scroll-btn-img topbtn-greenwell RR-7-toc fixed">
      </button>
      
   <!--END NAVBAR-->
   <!-- BEGIN MODALS -->
      
      <!-- MODAL 1 - select a page -->
      <div class="modal" id="modal-page-menu" tabindex='-1' role='dialog'>
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss='modal'
                     style='font-size:3vmax!important; margin-top:-2% '>
                     &times;
                  </button>
                  <div class="center-text"><h3>Pick a Section</h3></div>
               </div>
               <div class="modal-body">
                  <div class="row spacer center-text">
                     <div id="page-menu"><!--inserted by js--></div>
                  </div>
               </div><div class="modal-footer"></div>
            </div>
         </div>
      </div>
      
      <!-- MODAL 2 - select a section -->
      <div class="modal" id="modal-section-menu" tabindex='-1' role='dialog'>
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss='modal' 
                  style='font-size:3vmax!important; margin-top:-2% '>
                     &times;
                  </button>
                  <div class="center-text"><h3>Pick a Section</h3></div>
               </div>
               <div class="modal-body">
                  <div style="background-color:333232!important;">
                     <div class="row spacer center-text">
                        <div id="section-menu"><!--populated by javscript--></div>
                     </div>
                     <div class="modal-footer"></div>
                  </div>
               </div>
            </div>
         </div>
      </div><!-- END MODALS -->

      <% if @all[:hide_toc] %>
         <div style="display: none;" id="hide_toc" data-bool="true"></div>
      <% else %>
         <div style="display: none;" id="hide_toc" data-bool="false"></div>
      <% end %>
      
      <div id="sidebar">
         <div class="toc" id="toc">
            <%= @all[:toc] %> 
         </div>
      </div>
      <div class="container-small nav-spacer ">
         <div id='reader' style="">
            <div class="markdown" id='content'>
               <!-- BEGIN rendered markdown document insert -->
               <%= @all[:content] %> 
               <!-- END rendered markdown document insert -->
            </div>
         </div>
      </div>
   </body>
</html>