<!DOCTYPE html>
<html>
	<head>
		<%= favicon_link_tag 'favicon.ico' %>
		<title>LivePage</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	
	<body class="jr-dark-body ">
		
		<%= render partial: 'layouts/navbar' 
		%>
		
		<div class="container-small nav-spacer ">  <!--nav-space prevents obscuring under navbar-->
				
			<!-- BEGIN PAGE CONTENTS -->
			<div class="row cling-left" id='reader' style="">
				<div class="span8 pull-left cling-left markdown" id='content' >
					<%= @html %> 
				</div>
				<div id="sidebar"style=";">
					<button type='button' class="btn btn-default" id='toc-follow-btn'>
					</button>
					<div class="toc" id="toc">	
						<%= @toc %>
					</div>
				</div>  
			</div>   
			
			<%= #render partial: 'layouts/footer'
			%>
		
		</div><!-- END nav-spacer -->
	</body>
</html>
