<!DOCTYPE html>
<html>
	<head>
		<%= favicon_link_tag 'favicon.ico' %>
		<title>LivePage</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	
	<body class="jr-dark-body ">
		
		<%= render partial: 'layouts/navbar' 
		%>
		
		<div class="container-small nav-spacer ">  <!--nav-space prevents obscuring under navbar-->
				
			<!-- BEGIN PAGE CONTENTS -->
			<div id='reader' style="">
				<div class="markdown" id='content' >
					<%= @html %> 
				</div>
			</div>   
			
			<%= #render partial: 'layouts/footer'
			%>
		
		</div><!-- END nav-spacer -->
	</body>
</html>
