<%= render partial: 'header' %>
<!--</head>  -->

<!-- BEGIN NAVBAR (non-collapsing)-->
<nav id='topbar' class=''>
</nav>	
	<button class="topbar-btn btn-greenwell topbar-btn-1-7" style="left:4%; ">
		<a href='' class="home-url">
			<img style="max-width:50px;" class='logo-url'src=""/>
		</a>
	</button>
	
	 modal 1 - select a page (group of pages - controller )
	<button  data-toggle='modal'  style="left: 13%;" 
			class='btn topbar-btn btn-greenwell topbar-btn-2-7' data-target='#modal-page-menu'>
		<p  style="margin:1px"id='page-btn' >page</p>
	</button>
		
	<!-- < prevous section button-->
	<a href='' id='prev-btn'>
	<button  class="topbar-btn btn-greenwell topbar-btn-3-7" style="left: 22%; ">
		<img style="margin: 0px" src="https://shared-img-res.s3.amazonaws.com/icons/left_icon_grn.png"/>
	</button>
	</a>
	
	<!--modal 2 - select a topic (jump to id on page)-->
	<button  data-toggle='modal' style="left: 31%;"  
			class="topbar-btn btn-greenwell  topbar-btn-4-7" data-target='#modal-section-menu'>
		<p style="margin:1px"id='section-btn' > section</p>
	</button>
	
	<!-- > next section button-->
	<a href='' id='next-btn'>	
	<button  class="topbar-btn btn-greenwell topbar-btn-5-7" style="left: 40%; " >
		<img style="margin:0px" src="https://shared-img-res.s3.amazonaws.com/icons/right_icon_grn.png"/>
	</button>
	</a>
	
	<button  id='toc-btn'  style="left: 49%; "
			class='btn topbar-btn btn-greenwell  topbar-btn-6-7'>
		<img style="margin:1px" src="https://shared-img-res.s3.amazonaws.com/livepage_heroku/toc_icon_h20.png">
		</img>
	</button>
	
	<button  class="topbar-btn btn-greenwell topbar-btn-7-7" id='toc-follow-btn' style="left: 58%; ">
		<img id='toc-follow-img' style="height:25px; margin:-3px;"
			src="https://shared-img-res.s3.amazonaws.com/livepage_heroku/auto-y_icon_33_grn.png">
		</img>
	</button>

<!--END NAVBAR-->

<!-- BEGIN MODALS -->

<!-- MODAL 1 - select a page -->
<div class="modal" id="modal-page-menu" tabindex='-1' role='dialog'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header jr-dark-bg">
				<button type="button" class="close" data-dismiss='modal'>
					&times;
				</button><br>
			</div>
			<div class="modal-body">
				
				<div class="jr-dark-bg">
					<div class="row center-text">
						<h3>Pick a Page</h3>
					</div>
					<div class="row spacer center-text">
						<div id="page-menu">
							<!--inserted by js-->
						</div>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL 2 - select a section -->
<div class="modal" id="modal-section-menu" tabindex='-1' role='dialog'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header jr-dark-bg">
				<button type="button" class="close" data-dismiss='modal'>
					&times;
				</button><br>
			</div>
			<div class="modal-body">
				
				<div class="jr-dark-bg">
					<div class="row center-text">
						<h3>Pick a Section</h3>
					</div>
					<div class="row spacer center-text">
						<%= #render :file => 'layouts/home_menu' 
						%>
						<div id="section-menu"> 
							<!--populated by javscript-->
						</div>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END MODALS -->

<body class="jr-dark-body ">
	
	<div id="sidebar">
		<div class="toc" id="toc">	
			<%= @livedocs[:toc] %> 
		</div>
	</div> 
		
	<div class="container-small nav-spacer ">  <!--nav-space prevents obscuring under navbar-->
	
		<!-- BEGIN PAGE CONTENTS -->
		<div id='reader' style="">
			<div class="markdown" id='content' >
				<%= @livedocs[:content] %> 
			</div>
		</div>   
	 
	</div><!-- END nav-spacer -->
	
</body>

<%= render partial: 'footer' %>