   <%= render partial: 'header' %>
   <%= javascript_include_tag 'toc_main', 
                             'data-turbolinks-track' => true %>
</head>


<!-- BEGIN NAVBAR-->
<body class="jr-dark-body ">
	<div class="debug"></div>
	
	<nav id='topbar' class='topbar-toc fixed'>
	</nav>	
	<button class="topbtn-greenwell LL-7-toc fixed">
		<a href='' class="home-url">
			<img style="width:2.8em;" class='logo-url'src=""/>
		</a>
	</button>
	
	 <!--modal 1 - select a page (group of pages - controller )-->
	<button  data-toggle='modal'   id='page-button'
			class='topbtn-greenwell LR-7-toc fixed' data-target='#modal-page-menu'>
		<p  style="margin:1px"id='page-btn' >page</p>
	</button>
		
	<!-- < prevous section button-->
	<a href='' class='prev-btn'>
	<button  class="topbtn-greenwell CL-7-toc fixed prev-btn-img" >
	</button>
	</a>
	
	<!--modal 2 - select a topic (jump to id on page)-->
	<button  data-toggle='modal'  id='section-button'
			class="topbtn-greenwell CC-7-toc fixed" data-target='#modal-section-menu'>
		<p style="margin:1px"id='section-btn' > section</p>
	</button>
	
	<!-- > next section button-->
	<a href='' class='next-btn'>	
	<button  class="topbtn-greenwell CR-7-toc fixed next-btn-img" >
	</button>
	</a>
	
	<button  id='toc-btn' 
			class='topbtn-greenwell RL-7-toc fixed toc-btn-img'>
	</button>
	
	<button  class="topbtn-greenwell RR-7-toc fixed scroll-btn-img" id='toc-follow-btn'  >
	</button>
	
	<!--END NAVBAR-->
	
	<!-- BEGIN MODALS -->
	
	<!-- MODAL 1 - select a page -->
	<div class="modal" id="modal-page-menu" tabindex='-1' role='dialog'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header jr-dark-bg">
					<button type="button" class="close" data-dismiss='modal'>
						&times;
					</button><br>
				</div>
				<div class="modal-body">
					
					<div class="jr-dark-bg">
						<div class="row center-text">
							<h3>Pick a Page</h3>
						</div>
						<div class="row spacer center-text">
							<div id="page-menu">
								<!--inserted by js-->
							</div>
						</div>
						<div class="modal-footer"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- MODAL 2 - select a section -->
	<div class="modal" id="modal-section-menu" tabindex='-1' role='dialog'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header jr-dark-bg">
					<button type="button" class="close" data-dismiss='modal'>
						&times;
					</button><br>
				</div>
				<div class="modal-body">
					
					<div class="jr-dark-bg">
						<div class="row center-text">
							<h3>Pick a Section</h3>
						</div>
						<div class="row spacer center-text">
							<%= #render :file => 'layouts/home_menu' 
							%>
							<div id="section-menu">
								<!--populated by javscript-->
							</div>
						</div>
						<div class="modal-footer"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END MODALS -->

	
	<div id="sidebar">
		<div class="toc" id="toc">	
			<%= @livedocs[:toc] %> 
		</div>
	</div> 
		
	<div class="container-small nav-spacer ">  <!--nav-space prevents obscuring under navbar-->
	
		<!-- BEGIN PAGE CONTENTS -->
		<div id='reader' style="">
			<div class="markdown" id='content' >
				<%= @livedocs[:content] %> 
			</div>
		</div>   
	 
	</div><!-- END nav-spacer -->
	
</body>

<%= render partial: 'footer' %>