<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<meta property="og:image" content="http://shared-img-res.s3.amazonaws.com/JR/jeffruss.com_preview.png" />
	<%= favicon_link_tag 'favicon.ico' %>
  <title>Jeff Russ - Resume  %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
	<style type="text/css">
	@media print {
	    #printhide {
	        display :  none;
	    }
	}
	</style>
</head>
<body class="jr-dark-body">
	
	<nav class="navbar navbar-inverse navbar-fixed-top blacknav" role="navigation">
		<div class='container'>
			<div class="navbar-left">
				<%= link_to "http://www.jeffruss.com/", class: "navbar-brand" do %>
					<button class="btn navbar-btn greenwell">
						<img style="max-width:50px;"
							src="http://i1377.photobucket.com/albums/ah75/Jeffrey_Russ/JR_20px_wide_zpsy9os6cdz.png">
					</button>
				<% end %>
				
				<%= link_to '#', class: "navbar-brand" do %>
					<button class="btn navbar-btn greenwell" style='margin-left:5px'>
						Contact Jeff
					</button>
				<% end %>
			</div>
			
			<div class="navbar-right">

				<!--<%= link_to 'http://www.jeffruss.com/' do %>-->
				<!--<span class="glyphicon glyphicon-chevron-left jr-green" style="font-size: 20px" >-->
				<!--</span>-->
				<!--<% end %>-->
				
				<%= link_to 'http://www.howto.jeffruss.com/?aws=jeffruss/rails' do %>
					<button class="btn navbar-btn greenwell" style='margin-left:5px'>
						How-To's
					</button>
				<% end %>
				
				<!--<%= link_to 'http://www.jeffruss.com/' do %>	-->
				<!--<span class="glyphicon glyphicon-chevron-right jr-green" style="font-size: 20px" >-->
				<!--</span>-->
				<!--<% end %>-->
			</div>
		</div>
	</nav>
	
	<div class="container nav-spacer">
		<% flash.each do |key, value| %>
			<%= content_tag :div, value, class: "alert alert-#{key}" %>
		<% end %>


		</div> <!--get rid of container-->
		<div class="row">
			<div class="col-xs-8 col-sm-8 col-md-offset-1">
				<h1>Jeff Russ</h1>
				<h2>Software Developer</h2>
			</div>
			<div class="col-xs-3">
				<div class="btn-group">
					<button type='button' id ="printhide" onclick="window.print();return false;" class="btn btn-info btn-ghost btn-sm">
						Print
					</button>
					<%= link_to 'https://s3.amazonaws.com/j-r-bucket/Jeff+Russ+-+Resume.pdf', 
						:target => "_blank" do %>
					<button type='button' id ="printhide"  class="btn btn-success btn-ghost btn-sm">
						Download
					</button>
					<% end %>
				</div>
				<br>
				<a href="jeffreylynnrusss@gmail.com" >jeffreylynnrusss@gmail.com</a>
				<p>732-207-3345</p>
			</div>
		</div>

		<div class="row">
				<hr style='margin-left:5%; margin-right:5%;'>
		<div>
			
		<br>

		<div class="row">
			<br>
			<div class="col-xs-2 col-sm-1  col-xs-offset-0 col-md-offset-1">
				<h3 style="display:inline">Profile</h3>
			</div>
			<div class="col-xs-9 col-xs-offset-1">
				<h5> Passionate self-motivated software developer constantly in search of a 
				new challange</h5>
			</div>
		</div>

		<div class="row"> <div class="col-xs-10 col-xs-offset-0 col-md-offset-1"><hr></div></div>

		<div class="row">
			<div class="col-xs-2 col-sm-1  col-xs-offset-0 col-md-offset-1">
				<h3  style="display:inline">Skills</h3>
			</div>
			<div class="col-xs-3 col-xs-offset-1">
				<h4>Web<br>Development</h4>
			</div>
			<div class="col-xs-3">
				<h4>Android<br>Development</h4>
			</div>
			<div class="col-xs-3">
				<h4>Audio Software<br>Development</h4>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-xs-2 col-sm-1  col-xs-offset-0 col-md-offset-1">
				<br>
				<h3 style="display:inline">Tools</h3>
			</div>
			<div class="col-xs-3 col-xs-offset-1">
				<p><h5>Ruby On Rails</h5>
				Git Linux MySQL<br>
				HTML5 CSS3 Javascript jQuery</p>
			</div>
			<div class="col-xs-3">
				<p><h5>Android SDK</h5>
				Java<br>
				XML</p>
			</div>
			<div class="col-xs-3">
				<p><h5>The JUCE Framework</h5>
				XCode<br>
				C/C++</p>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-xs-2 col-sm-1 col-xs-offset-0 col-md-offset-1">
				<h3 style="display:inline">Work</h3>
			</div>
			<div class="col-xs-3 col-xs-offset-1">
				<p>www.jeffruss.com (Rails)<br>
				- SaaS web apps <br>
				- Secure content & email<br> 
				- Credit card processing</p>
			</div>
			<div class="col-xs-3">
				<p>Sample Android apps<br>
				- available on Github <br>
				- many ongoing projects</p>
			</div>
			<div class="col-xs-3">
				<p>- VST/AU JUCE C++<br>
				- Extensions to JUCE:<br>
				&nbsp;&nbsp;github.com/Jeff-Russ</p>
			</div>
		</div>

		<div class="row"> <div class="col-xs-10 col-md-offset-1"><hr></div></div>

		<div class="row">
			<br>
			<div class="col-xs-2 col-sm-1  col-xs-offset-0 col-md-offset-1">
				<h3 style="display:inline">Training</h3>
			</div>
			<div class="col-xs-9 col-md-7 col-xs-offset-1">
				<p>Mostly self-taught with training in Java from Amplify MOOC, Web 
				development with Rob Dey, audio software design from Rutgers University, 
				and C++ certification from The C++ Institute</p>
			</div>
		</div>

		<div class="row"> <div class="col-xs-10 col-md-offset-1"><hr></div></div>

		<div class="row">
			<br>
			<div class="col-xs-2 col-sm-1  col-xs-offset-0 col-md-offset-1">
				<h3 style="display:inline">Education</h3>
			</div>
			<div class="col-xs-9 col-md-7 col-xs-offset-1">
				<p>- Rutgers University - BM - focus on music technology<br>
				- Complete Web Developer Bootcamp with Rails - Codermanual<br>
				- CPA - C++ Certified Associate Programmer - C++ Institute<br>
				- Advanced Placement Computer Science - Amplify MOOC</p>
			</div>
		</div>
		<div class='container'> <!--give container back-->
		
		<!-- PAGE FOOTER -->
		<div class="row" id='footer'>
			<div class="span12">
				<%= link_to 'http://www.jeffruss.com', style: 'color:#FFFFEE' do %>
				<br><br><hr><small>    © Copyright <%= Time.now.year %> Jeffrey Russ.</small><br><br><br>
				<% end %>
			</div>
		</div>
	</div><!-- END container -->
</body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NXV5XD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NXV5XD');</script>
<!-- End Google Tag Manager -->

</html>
</html>














