<!DOCTYPE html>
<html>
   <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
      <%= favicon_link_tag 'favicon.ico' %>
      <%= stylesheet_link_tag    'application',
                                    media: 'all','data-turbolinks-track'=>true %>
      <%= csrf_meta_tags %>
      <%= javascript_include_tag 'pageview.main','data-turbolinks-track'=>true %>
      <% if @all[:host] == 'jr' %>
         <%= render partial: 'og_jr' %>
      <% elsif @all[:host] == 'md' %>
         <%= render partial: 'og_md' %>
      <% end %>
      <!-- BEGIN rendered markdown document insert -->
      <%= @all[:content] %>
      <!-- END rendered markdown document insert -->
   </body>
</html>