<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'favicon.ico' %>
	<title>
		<%= yield :topic %>- 
		<%= yield :page %>
	</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>

<body class="jr-dark-body ">
	
	<!-- BEGIN NAVBAR (non-collapsing)-->
	<nav class="navbar navbar-inverse navbar-fixed-top blacknav" role="navigation">

			<div class="navbar-left">
				
				<%= link_to 'http://www.jeffruss.com', class: "navbar-btn navbar-brand" do %>
					<button class="btn greenwell">
						<img style="max-width:50px;"
							src="http://i1377.photobucket.com/albums/ah75/Jeffrey_Russ/JR_20px_wide_zpsy9os6cdz.png">
					</button>
				<% end %>
			</div>
			
			<div class="navbar-right"> 
				
				<!-- navbar buttons for three modal windows -->
				
				<!-- modal 1 - select a topic (group of pages - controller )-->
				<button type='button' data-toggle='modal' 
						class='btn navbar-btn nav-button' data-target='#modal-topic-menu'>
					<%= yield :topic %>
				</button>
				
				<!-- modal 2 - select a sub-topic (particular page)-->
				<button type='button' data-toggle='modal' 
						class="btn navbar-btn nav-button" data-target='#modal-page-menu'>
					<%= yield :page %>
				</button>
				
				<!-- modal 3 - TOC to select a position in page -->
				<button type='button' data-toggle='modal' 
						class="btn navbar-btn nav-button" data-target='#modal-toc'>
					<span class='caret'></span>
				</button>
				
			</div> <!-- end navbar right -->
	</nav> <!--END NAVBAR-->
	
	<div class="nav-spacer">  <!--nav-space prevents obscuring under navbar-->
		
		<!-- CONTENTS OF THREE MODAL WINDOWS -->
		
		<!-- modal 1 - select a topic -->
		<div class="modal" id="modal-topic-menu" tabindex='-1' role='dialog'>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header jr-dark-bg">
						<button type="button" class="close" data-dismiss='modal'>
							&times;
						</button><br>
					</div>
					<div class="modal-body">
						<%= render :file => 'layouts/home_menu' %>
						<div class="modal-footer"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- modal 2 - select a sub-topic (page)-->
		<div class="modal" id="modal-page-menu" tabindex='-1' role='dialog'>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header jr-dark-bg">
						<button type="button" class="close" data-dismiss='modal'>
							&times;
						</button><br>
					</div>
					<div class="modal-body">
						
						<%= yield :page_menu %> 
						
						<div class="modal-footer"></div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- modal 3 - TOC to select a position in page -->
		<div class="modal bottom-right" id="modal-toc" tabindex='-1' role='dialog'>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body" >
						<div class="jr-dark-bg">
						<button type="button" class="close" data-dismiss='modal'>
							&times;
						</button><br>
							<div class="row">
								<h4>
									<%= yield :topic %> - 
									<%= yield :page %>
								</h4>
							</div>
							<div class="toc">
								<%= @toc %>
							</div>
							</div><br>
						</div>
						
					</div>
				</div>
			</div> <!-- END CONTENTS OF THREE MODAL WINDOWS -->
		
		<!-- BEGIN PAGE CONTENTS -->
		
		<div class="row-fluid" id='page-wrap'>
			<div class="span8 markdown" >
				<div class="well text-center"id='body'> <!-- page title banner -->
					<h1><%= yield(:topic) %> - <%= yield(:page) %></h1>
				</div>
		      	<%= @html %> 
		   </div>
			<div  id="sidebar">
				<div class="toc" id="toc">	
			      	<%= @toc %>
		      	</div>
		   </div>  
		</div>   
		
		<!-- PAGE FOOTER -->

	</div><!-- END nav-spacer -->
</body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NXV5XD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NXV5XD');</script>
<!-- End Google Tag Manager -->

</html>
