<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'favicon.ico' %>
	<title><%= yield(:page) %></title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body class="jr-dark-body ">
	
	<nav class="navbar navbar-inverse navbar-fixed-top blacknav" role="navigation">
		<div class='container'>
			<div class="navbar-left" style='margin-left: 2%!important;}'>
				<%= link_to 'http://www.jeffruss.com', class: "navbar-brand" style='padding-top: 0px; margin-top:-3px;padding-right: 0px;border-right: 0px;margin-right: 0px;' do %>
					<button class="btn navbar-btn greenwell">
						<img style="max-width:50px;"
							src="http://i1377.photobucket.com/albums/ah75/Jeffrey_Russ/JR_20px_wide_zpsy9os6cdz.png">
					</button>
				<% end %>
			</div>
			
			<div class="navbar-right" style='float: right!important; height: 100%;margin-right: 1%!important;'>
				
				<button type='button' data-toggle='modal' 
						class='btn navbar-btn nav-button' data-target='#modal-topic-menu'>
					<%= yield(:topic) %>
				</button>
				

			</div>
		</div>
	</nav>
	<div class="container nav-spacer-xl">
		<!-- modal 1 - select a topic -->
		<div class="modal" id="modal-topic-menu" tabindex='-1' role='dialog'>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header jr-dark-bg">
						<button type="button" class="close" data-dismiss='modal'>
							&times;
						</button><br>
					</div>
					<div class="modal-body">
						<%= render :file => 'layouts/home_menu' %>
						<div class="modal-footer"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="well text-center link">
			<h1> <%= yield(:page) %></h1>
		</div>

		<%= yield %>
		
		<!-- PAGE FOOTER -->
		<div class="row">
			<div class="span12">
				<%= link_to 'http://www.jeffruss.com', style: 'color:#FFFFEE' do %>
				<br><hr><small>    © Copyright <%= Time.now.year %> Jeffrey Russ.</small><br><br><br>
				<% end %>
			</div>
		</div>
	</div><!-- END container -->
</body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NXV5XD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NXV5XD');</script>
<!-- End Google Tag Manager -->

</html>
